<!DOCTYPE html>
<html>
  <head>
    <title>Goodstuffbookclub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% tag.p notice, class: "notice" if notice %>
    <% tag.p alert, class: "alert" if alert %>

    <%= yield %>
  </body>
</html>
